<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ayush Dhanraj Node.js Internship Project</title>

  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="brand">
      <h1>Ayush Dhanraj</h1>
    </div>
    <div class="links">
  <a href="/">Home</a>
  <a href="/add">Add</a>
  <a href="/search">Search</a>
    </div>
  </header>
